.inbox-api {
  text-align: center;
  color: blue;
}

.inbox__subject {
  text-align: center;
  font-size: 20px;
  color: black;
}

.inbox__content {
  text-align: center;
  display: flex;
  font-size: 14px;
}
