.spam-api {
  text-align: center;
  color: blue;
}

.spam__subject {
  text-align: center;
  font-size: 20px;
  color: black;
}

.spam__content {
  text-align: center;
  display: flex;
  font-size: 14px;
  color: #f59642;
}
